/*
FONTS
*/
//Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400|Roboto:100,300,400');

$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-family: 'Quicksand', sans-serif;
$font-weight-thin: 100;
$font-weight-regular: 300;
$font-weight-bold: 400;
$font-size-base: 16px;

$text-color: #fff !default;
$text-color-light: #eef0f0 !default;
$text-color-inverse: #333 !default;
$brand-color: #fff !default;

$brand-primary: #3498db; 
$color-team-blue: #2980b9;
$color-team-red: #c0392b;
$color-green: #27ae60;
$color-yellow: #f1c40f;
$color-dark: #2c3e50;
$color-grey: #7f8c8d;
$color-neutral: #fff4d5;

/*
Breakpoints
*/
$screen-lg: 1365px;
$breakpoints: (
  'mobile': (max-width: 768px),
  'tablet': (max-width: 769px),
  'medium': (max-width: 992px),
  'large': (max-width: 1367px),
  'huge': (min-width: 1600px)
);
