extends layout

block content
  .container.row.text-center
    .col-md-4.col-md-offset-4.main-layout
      .row
        .col-md-12
          h1 About Pseudonyms
      .row.toggles
        .col-xs-4.col-md-4
          a.btn.btn-default.active(href="#", data-toggle="story") Story
        .col-xs-8.col-md-4
          a.btn.btn-default(href="#", data-toggle="instructions") Instructions
      .row
        .col-md-12.story
          .contents
            p
              |Government agencies around the world are censoring and suppressing crucial information about current events from the public.
              br
              br
              |Journalist and activist groups across the globe are outraged and are trying their best to get this information and release it to the public.
              br
              |Your team, a specialized group of hackers hired by one of these groups, just got access to top secret information and need to relay the data to contacts spread around the world.
              br
              |Unfortunately, these contacts are using Pseudonyms, generated randomly by a HOTP (RFC-4226) based algorithm, in order to protect their identities. 
              |It is your team's duty to contact your corresponding publishers.
              br
              br
              |Do your best to relay the information to your contacts before your competitors do in order to receive your payout.
              br
              br
              |Be cautious of imitation bots, malware developed by government agencies, that can pose as one of your contacts. If you accidentally ping these bots, you need to terminate the mission immediately and destroy all evidence.
        .col-md-12.instructions
          .contents
            p
              |The Leader of the group receives the contact's real identities and must provide the team with a one word hint.
              |Hints can only be one word and can be followed by a number that corresponds to the number of contacts it refers to.
              br
              br
              |Players must try to see through the hint and find the matching Pseudonyms of the contacts. 
              |They can relay information to any contact on the board, so choosing the opposing team's contact will count towards the other team.
              br
              br
              |Choosing the imitation bot will end the game immediately and the team that chose it will lose.
      .row
        .col-md-12
          include partials/footer

block scripts
  script.
    $('.toggles .btn').on('click', function(e){
      e.preventDefault();
      $('.toggles .btn').removeClass('active');
      $(this).addClass('active');
      var tab = $(this).data('toggle');
      $('.' + tab).show().siblings().hide();
    });
