extends layout

block content
  .container
    .row
      .col-md-4.col-md-offset-4
        #{'view'}.lobby
          .settings
            h1
              span.pull-right
                i.fa.fa-cog
              |Code:&nbsp;
              span.gameCode            
          .users
            .red.team(data-team="red")
              h1
                span.pull-right 
                  a.btn.btn-default Join Team
                |Red Team
              ul.master
                //- li.nomaster
                //-   i.fa.fa-user-secret
                //-   |&nbsp; No Spymaster
              ul.player
            .blue.team(data-team="blue")
              h1
                span.pull-right 
                  a.btn.btn-default Join Team
                |Blue Team
              ul.master
                //- li.nomaster
                //-   i.fa.fa-user-secret
                //-   |&nbsp; No Spymaster
              ul.player
          .buttons
            .row.text-center
              .col-xs-6
                a.btn.btn-success(data-type="ready") Ready Up
              .col-xs-6
                a.btn.btn-default(data-type="leave") Leave
        #{'view'}.game.collapse
        #{'view'}.end.collapse

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js', integrity="sha256-fiM0lX3OYzf0FfLBeLqFuCokh+rf1VhI/eanPbzldUM=", crossorigin="anonymous")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js', integrity="sha256-NjbogQqosWgor0UBdCURR5dzcvAgHnfUZMcZ8RCwkk8=", crossorigin="anonymous")
  script(src='/js/game.js')
