view {
  z-index: 1;
  display: block;
  margin: 0;
  padding: 20px;
  @include box-shadow(0, 0, 10px, rgba(0,0,0,.2));
  background: rgba(255,255,255,.15);
}


/*
======================================
=============LOBBY VIEW==============
======================================
*/
.lobby {
  /*
  ===================
  Settings
  ===================
  */
  > .settings{

    display: block;
    background: $color-dark;
    @include box-shadow(0, 5px, 5px, rgba(0,0,0,.2));
    padding: 10px 15px;
    margin: 0 0 20px;
    h1{
      margin: 0;
      color: $text-color;
      i{
        cursor: pointer;
      }

      @include screen('mobile'){
        font-size: 1.5em;
        padding-right: 5px;
      }
    }
  }

  /*
  ===================
  User Teams
  ===================
  */
  > .users {
    > .team {
      margin-bottom: 20px;

      h1 {
        padding: 10px 15px;
        margin: 0;
        cursor: pointer;

        @include screen('mobile'){
          font-size: 1.25em;
          padding-right: 10px;
        }

        .btn {
          font-size: $font-size-base;
          margin-top: -10px;
          padding: 5px 10px;

          @include screen('mobile'){
            font-size: .6em;
            margin-top: -5px;
          }
        }
      }

      &.red {
        @include box-shadow(0, 5px, 5px, rgba(0,0,0,.2));

        h1 {
          background: $color-team-red;
        }
      }

      &.blue {
        @include box-shadow(0, 5px, 5px, rgba(0,0,0,.2));

        h1 {
          background: $color-team-blue;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background: rgba(0,0,0,.1);

      &.player {
        max-height: 200px;
        overflow-y: auto;
        @include screen('mobile'){
          max-height: 125px;
        }
      }

      &.master{
        background: rgba($color-dark, .5);

        .btn{
          font-size: .8em;
          padding: 2px 5px;
          margin-left: 5px;
          background: transparent;
          color: $text-color;
        }
      }

      li {
        padding: 10px 20px;
        border-bottom: 1px solid $text-color-inverse;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  /*
  ===================
  Bottom Buttons
  ===================
  */
  > .buttons {
    margin: 40px -15px 0;

    @include screen('mobile'){
      margin-top: 20px;
    }

    .btn {
      width: 100%;
    }

    .btn-success {
      color: #fff;
      background-color: $color-green;

      &:hover {
        @include linear-gradient(135deg, $color-green 0%, darken($color-green, 10%) 100%);
      }
    }

    .btn-danger {
      color: #fff;
      background-color: $color-team-red;

      &:hover {
        @include linear-gradient(135deg, $color-team-red 0%, darken($color-team-red, 10%) 100%);
      }
    }
  }
}

/*
======================================
===============GAME VIEW==============
======================================
*/
view.game{
  .gameContainer{
    margin-bottom: 20px;

    &:after{
      content: '';
      display: block;
      clear: both;
    }

    .card{
      display: inline-block;
      width: calc(20% - 10px);
      float: left;
      padding: 10px 0;
      box-shadow: 0 0 5px rgba(0,0,0,.2);
      margin: 5px;
      color: #333;
      font-size: 18px;
      font-weight: 400;

      .col-xs-12{
        padding: 0 5px;
      }

      &[data-color=""]{
        background: rgba($color-neutral,.8);
        border: 1px solid $color-neutral;
        cursor: pointer;
        @include transition(all ease .3s);

        &:hover{
          @include scale(1.025);
          @include transition(all ease .3s);
        }
      }
      &[data-color="red"]{
        background: rgba($color-team-red,.7);
        border: 1px solid $color-team-red;
        color: #fff;
      }
      &[data-color="blue"]{
        background: rgba($color-team-blue,.7);
        border: 1px solid darken($color-team-blue, 8%);
        color: #fff;
      }
      &[data-color="black"]{
        background: rgba(#333,.9);
        border: 1px solid #111;
        color: #fff;
      }
      &[data-color="yellow"]{
        background: rgba($color-yellow,.7);
        border: 1px solid $color-yellow;
        color: #333;
      }
    }
  }

  .displays{
    margin-bottom: 10px;
    .col-xs-6{
      padding: 0 5px;
    }
    .hintDiv{
      display: inline-block;
      padding: 10px 15px;
      background: rgba(0,0,0,.2);
      @include box-shadow(0, 0, 5px, rgba(0,0,0,.3));
    }
    .hintDiv > span.lab{
      color: #fff;
      text-transform: uppercase;
      margin-right: 5px;

      &:nth-child(3){
        margin-left: 30px;
      }
    }
  }

  .gameOverlay{
    z-index: 1;
    display: none;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.2);
    @include box-shadow(0, 0, 10px, rgba(0,0,0,.5));
    @include animation('shine infinite 20s ease-in-out');
  }

  .actions{
    .col-xs-6:first-of-type{
      padding-left: 5px;
    }
    .btn{
      color: #fff;
      &:not(:first-of-type){
        margin-left: 10px;
      }
    }
  }
}

@include keyframes(shine){
  0%{
    background-color: rgba(0,0,0,.3);
  }
  25%{
    background-color: rgba($color-team-blue,.3);
  }
  50%{
    background-color: rgba($color-yellow,.3);
  }
  75%{
    background-color: rgba($color-team-red,.3);
  }
  100%{
    background-color: rgba(0,0,0,.3);
  }
}
